@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}


.swal2-custom-image {
    width: 350px !important;
    /* ความกว้าง */
    height: 350px !important;
    /* ความสูง */
    object-fit: contain;

}



/* admin manage edit card flip */

.perspective {
    perspective: 1000px;
}

.transform-style-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}
